<a href="https://colab.research.google.com/github/Devesh-Patodia/NLP-J038/blob/class-assignments/Amazon_nltk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import gzip
import nltk
import spacy

In [2]:
df = pd.read_json("http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Office_Products_5.json.gz" , lines=True)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A32T2H8150OJLU  B00000JBLH  ...     1094169600   09 3, 2004
1  A3MAFS04ZABRGO  B00000JBLH  ...     1197676800  12 15, 2007
2  A1F1A0QQP2XVH5  B00000JBLH  ...     1293840000   01 1, 2011
3   A49R5DBXXQDE5  B00000JBLH  ...     1145404800  04 19, 2006
4  A2XRMQA6PJ5ZJ8  B00000JBLH  ...     1375574400   08 4, 2013

[5 rows x 9 columns]

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [4]:
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')

from nltk.stem import WordNetLemmatizer
lem = WordNetLemmatizer()

print('\n')
def nltk_column(text):
  nltk_dict = { 'tokenization' : [] ,
                'pos_tag' : [] ,
                'lemmatization' : [] }
  tokens = nltk.word_tokenize(text)              
  nltk_dict['tokenization'] = nltk.word_tokenize(text)
  nltk_dict['pos_tag'] = nltk.pos_tag(text.split())
  nltk_dict['lemmatization']=[lem.lemmatize(word) for word in tokens]
  return nltk_dict

df['reviewText_nltk'] = df['reviewText'].apply(nltk_column)  
df.head()

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

       reviewerID  ...                                    reviewText_nltk
0  A32T2H8150OJLU  ...  {'tokenization': ['I', 'bought', 'my', 'first'...
1  A3MAFS04ZABRGO  ...  {'tokenization': ['WHY', 'THIS', 'BELATED', 'R...
2  A1F1A0QQP2XVH5  ...  {'tokenization': ['I', 'have', 'an', 'HP', '48...
3   A49R5DBXXQDE5  ...  {'tokenization': ['I', ''ve', 'started', 'doin...
4  A2XRMQA6PJ5ZJ8  ...  {'tokenization': ['For', 'simple', 'calculatio...

[5 rows x 10 columns]

In [5]:
def adjectives(text):
  x = dict(nltk.pos_tag(text.split()))
  adj = [word for word in x if x[word]=='JJ']
  return  adj

df['reviewtext_adjective'] = df['reviewText'].apply(adjectives)
df.head()

       reviewerID  ...                               reviewtext_adjective
0  A32T2H8150OJLU  ...  [first, difficult, area., many, disaster.The, ...
1  A3MAFS04ZABRGO  ...  [old, anniversary, satisfied, frank, non-techk...
2  A1F1A0QQP2XVH5  ...  [old, overall, new, hollow, available, great.,...
3   A49R5DBXXQDE5  ...  [good, available., (HP-45,, great, long-lastin...
4  A2XRMQA6PJ5ZJ8  ...  [simple, financial, complex, quick, Reverse, P...

[5 rows x 11 columns]