<a href="https://colab.research.google.com/github/Devesh-Patodia/NLP-J038/blob/class-assignments/FunctionTransformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import FunctionTransformer

In [0]:
def minmax(x):
  min = np.min(x)
  max = np.max(x)
  ans = (x-min)/(max-min)
  return ans

In [0]:
a = np.array([1,2,3,4,5])

In [0]:
transformer = FunctionTransformer(minmax)
transformer.transform(a)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [0]:
transformer.inverse_transform(a)

array([1, 2, 3, 4, 5])

In [0]:
data = [[1,3],[7,3],[3,8]]
df = pd.DataFrame(data,columns = ['A','B'])
df

   A  B
0  1  3
1  7  3
2  3  8

In [0]:
transformer.transform(df)

          A    B
0  0.000000  0.0
1  1.000000  0.0
2  0.333333  1.0

In [0]:
transformer.inverse_transform(df)

   A  B
0  1  3
1  7  3
2  3  8