<a href="https://colab.research.google.com/github/Devesh-Patodia/NLP-J038/blob/home-assignments/naive_bayes_credit_card_fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split as tts

In [4]:
df = pd.read_csv("/content/creditcard.csv")
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    '0'
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    '0'
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    '0'
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    '0'
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    '0'

[5 rows x 31 columns]

In [5]:
df.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [0]:
x = df.drop(['Class'],axis=1)
y = df['Class']

In [0]:
x.dropna(inplace=True)
y.dropna(inplace=True)

In [0]:
x = pd.get_dummies(x,drop_first=True)
y = pd.get_dummies(y,drop_first=True)

In [0]:
x_train,x_test,y_train,y_test=tts(x,y,test_size=0.25)

In [10]:
gnb = GaussianNB()
model = gnb.fit(x_train,y_train)
model.predict(y_test)
model.score(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9943019943019943

In [11]:
model.score(x_test,y_test)

0.992462311557789