<a href="https://colab.research.google.com/github/Devesh-Patodia/NLP-J038/blob/class-assignments/Question_Answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
!wget https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v2.0.json

--2020-02-18 02:53:31--  https://rajpurkar.github.io/SQuAD-explorer/dataset/train-v2.0.json
Resolving rajpurkar.github.io (rajpurkar.github.io)... 185.199.108.153, 185.199.110.153, 185.199.111.153, ...
Connecting to rajpurkar.github.io (rajpurkar.github.io)|185.199.108.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 42123633 (40M) [application/json]
Saving to: ‘train-v2.0.json’

train-v2.0.json     100%[===================>]  40.17M   220MB/s    in 0.2s

2020-02-18 02:53:31 (220 MB/s) - ‘train-v2.0.json’ saved [42123633/42123633]

In [0]:
df = pd.read_json('/content/train-v2.0.json')

In [0]:
df.head()

  version                                               data
0    v2.0  {'title': 'Beyoncé', 'paragraphs': [{'qas': [{...
1    v2.0  {'title': 'Frédéric_Chopin', 'paragraphs': [{'...
2    v2.0  {'title': 'Sino-Tibetan_relations_during_the_M...
3    v2.0  {'title': 'IPod', 'paragraphs': [{'qas': [{'qu...
4    v2.0  {'title': 'The_Legend_of_Zelda:_Twilight_Princ...

In [0]:
df.drop(df.tail(2).index,inplace=True)

In [0]:
df.shape

(440, 2)

In [0]:
titles = []
paragraphs = []

for i in range(len(df)):
  titles.append(df['data'][i]['title'])
  paragraphs.append(df['data'][i]['paragraphs'])

In [0]:
df['titles'] = titles
df['paragraphs'] = paragraphs
df.head()

  version  ...                                         paragraphs
0    v2.0  ...  [{'qas': [{'question': 'When did Beyonce start...
1    v2.0  ...  [{'qas': [{'question': "What was Frédéric's na...
2    v2.0  ...  [{'qas': [{'question': 'Who were Wang Jiawei a...
3    v2.0  ...  [{'qas': [{'question': 'Which company produces...
4    v2.0  ...  [{'qas': [{'question': 'What category of game ...

[5 rows x 4 columns]

In [0]:
context = []
qas = []

for j in range(len(df)):
  context.append(df['paragraphs'][j][0]['context'])
  qas.append(df['paragraphs'][j][0]['qas'])

In [0]:
df['context'] = context
df['qas'] = qas
df.head()

  version  ...                                                qas
0    v2.0  ...  [{'question': 'When did Beyonce start becoming...
1    v2.0  ...  [{'question': 'What was Frédéric's nationaliti...
2    v2.0  ...  [{'question': 'Who were Wang Jiawei and Nyima ...
3    v2.0  ...  [{'question': 'Which company produces the iPod...
4    v2.0  ...  [{'question': 'What category of game is Legend...

[5 rows x 6 columns]

In [0]:
answers = []
ids = []
is_impossible = []
questions = []

for k in range(len(df)):
  answers.append(df['qas'][k][0]['answers'])
  ids.append(df['qas'][k][0]['id'])
  is_impossible.append(df['qas'][k][0]['is_impossible'])
  questions.append(df['qas'][k][0]['question'])

In [0]:
df['answers'] = answers
df['ids'] = ids
df['is_impossible'] = is_impossible
df['questions'] = questions
df.head()

  version  ...                                          questions
0    v2.0  ...           When did Beyonce start becoming popular?
1    v2.0  ...                 What was Frédéric's nationalities?
2    v2.0  ...          Who were Wang Jiawei and Nyima Gyaincain?
3    v2.0  ...                   Which company produces the iPod?
4    v2.0  ...  What category of game is Legend of Zelda: Twil...

[5 rows x 10 columns]

In [0]:
text = []
answer_start = []

for m in range(len(df)):
  text.append(df['answers'][m][0]['text'])
  answer_start.append(df['answers'][m][0]['answer_start'])

In [0]:
df['text'] = text
df['answer_start'] = answer_start
df.head()

  version  ... answer_start
0    v2.0  ...          269
1    v2.0  ...          182
2    v2.0  ...          274
3    v2.0  ...          105
4    v2.0  ...          128

[5 rows x 12 columns]

In [0]:
data = df[['titles','context','answer_start','text','ids','is_impossible','questions']]
data.head()

                                           titles  ...                                          questions
0                                         Beyoncé  ...           When did Beyonce start becoming popular?
1                                 Frédéric_Chopin  ...                 What was Frédéric's nationalities?
2  Sino-Tibetan_relations_during_the_Ming_dynasty  ...          Who were Wang Jiawei and Nyima Gyaincain?
3                                            IPod  ...                   Which company produces the iPod?
4          The_Legend_of_Zelda:_Twilight_Princess  ...  What category of game is Legend of Zelda: Twil...

[5 rows x 7 columns]

In [0]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()

In [0]:
model = tfidf.fit_transform(data['questions'])

In [0]:
model = pd.DataFrame(model.toarray(), columns=tfidf.get_feature_names())

In [0]:
model

     1059   12   13  1714  1750  ...  youth  youtube    zelda  zhejiang  zinc
0     0.0  0.0  0.0   0.0   0.0  ...    0.0      0.0  0.00000       0.0   0.0
1     0.0  0.0  0.0   0.0   0.0  ...    0.0      0.0  0.00000       0.0   0.0
2     0.0  0.0  0.0   0.0   0.0  ...    0.0      0.0  0.00000       0.0   0.0
3     0.0  0.0  0.0   0.0   0.0  ...    0.0      0.0  0.00000       0.0   0.0
4     0.0  0.0  0.0   0.0   0.0  ...    0.0      0.0  0.39487       0.0   0.0
..    ...  ...  ...   ...   ...  ...    ...      ...      ...       ...   ...
435   0.0  0.0  0.0   0.0   0.0  ...    0.0      0.0  0.00000       0.0   0.0
436   0.0  0.0  0.0   0.0   0.0  ...    0.0      0.0  0.00000       0.0   0.0
437   0.0  0.0  0.0   0.0   0.0  ...    0.0      0.0  0.00000       0.0   0.0
438   0.0  0.0  0.0   0.0   0.0  ...    0.0      0.0  0.00000       0.0   0.0
439   0.0  0.0  0.0   0.0   0.0  ...    0.0      0.0  0.00000       0.0   0.0

[440 rows x 1407 columns]